<%-include ('templates/header');-%>

<div class="well">

  <div>
    <label ></label>
  </div>

<form action="/admin" method="POST" class="form-horizontal">
<fieldset>

<!-- Event Settings Form -->
<legend style="text-align: center;">Event Settings</legend>

<!-- Event Name-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Event Name</label>  
  <div class="col-md-4">
  <input type="text" id="eventName" name="eventName" class="form-control input-md" placeholder="<%-eventName-%>"style="text-align: center;" required="">
  <span class="help-block">Event Name</span>  
  </div>
</div>

<!-- TBA Event Code-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">TBA Event Code</label>  
  <div class="col-md-4">
  <input type="text" id="eventCode" name="eventCode" class="form-control input-md" placeholder="<%-eventKey-%>" style="text-align: center;" required="">
  <span class="help-block">Event Code from TBA</span>
  </div>
</div>

<!-- Save Button -->
<div class="form-group">
  <div class="row align-items-end" style="text-align: center;">
    <button value="submit" type="submit" class="btn btn-success" id="saveEventBtn">Load Event</button>
  </div>
</div>

</fieldset>

</form>

<br><br>
<fieldset>
  <legend style="text-align: center;">Reports</legend>
  <div style="text-align: center;">
    <form action="/team_table" method="GET">
        <button value="submit" type="submit" class="btn btn-info">Team List</button>
    </form>
    <div>&nbsp;</div>
    <form action="/match_table" method="GET">
      <button value="submit" type="submit" class="btn btn-info">Match Scout Info</button>
    </form>  
    <div>&nbsp;</div>
    <form action="/pit_table" method="GET">
      <button value="submit" type="submit" class="btn btn-info">Pit Scout Info</button>
    </form>  
  </div>
</div>
</fieldset>
</div>  


<!--Add Database Delete and Teams Delete-->


<%- include('templates/footer'); -%>

