<%-include ('templates/header.ejs');-%>

<link rel="stylesheet" href="homepage.css">

<div class="jumbotron">
    <h2>Welcome to Convergence Web Scouting Application</h1>
        <div>&nbsp;</div>
    <p>To start scouting click on Pit Scouting or Match Scouting. To view pit, match, and team lists, click on Admin.
    </p>
    <div>&nbsp;</div>
    <h1 style="text-align: center; color:red; font-size: 40px;">*** IMPORTANT ***</h1>
    <p style="text-align: center; color:red; font-size: 25px;">STUDENTS DO NOT TOUCH THE EVENT SETTINGS UNDER ADMIN!</p>

        <div>&nbsp;</div>
    <img src="frclogo2.png" class="center">
</div>

    
<%- include('templates/footer'); -%>