<%-include ('templates/header');-%>
   
<link rel="stylesheet" href="matchscout.css">

<h1>Convergence Match Scouting</h1>


<form action="/match_scouting" method="POST">
    <div class="well col-lg-6 col-lg-offset-3">
            <fieldset id="autoFieldSet" style="border: 2px solid red; width: auto;">
            <legend style="width:auto; padding-left: 3px;" >Auto</legend>
            <div class="auto-scoring-header">
                <!--Auto Placement-->
                <div style="padding-left: 10px; display:inline">Auto Placement</div>
                <div class="btn-group" role="group" aria-label="AutoPlacement"  style="padding-left: 10px;">
                    <button type="button" class="btn btn-primary" id="autoPlacementLeft">Left</button>
                    <button type="button" class="btn btn-primary" id="autoPlacementCenter">Center</button>
                    <button type="button" class="btn btn-primary" id="autoPlacementRight">Right</button>
                </div>
                <div>&nbsp;</div>
                <!--Auto Mobility-->
                <div style="padding-left: 10px; display:inline">Auto Mobility</div> 
                <div class="btn-group" role="group" aria-label="AutoMobility"  style="padding-left: 31px;">
                    <button type="button" class="btn btn-primary" id="autoMobilityNo">No</button>
                    <button type="button" class="btn btn-primary" id="autoMobiltyYes">Yes</button>
                </div>
                <div>&nbsp;</div>
                <!--Auto Balance-->
                <div style="padding-left: 10px; display:inline">Auto Balance</div> 
                <div class="btn-group" role="group" aria-label="autoBalance"  style="padding-left: 28px;">
                    <button type="button" class="btn btn-primary" id="autoBalanceNo">No</button>
                    <button type="button" class="btn btn-primary" id="autoBalanceYes">Yes</button>
                    <button type="button" class="btn btn-primary" id="autoBalanceFell">Fell</button>
                </div>
                <div>&nbsp;</div>
                
                <!--Auto Cone Placement-->
                <label style="padding-left: 10px;" for="autoConePlacementSelect1">Auto Cone High Placement</label>
                <select select name="autoConeHighScore" id="autoConeHighScore">
                    <option id="None" name="None"value="None">None</option>
                    <option id="1" name="1"value="1">1 High</option>
                    <option id="2" name="2"value="2">2 High</option>
                    <option id="3" name="3"value="3">3 High</option>
                    <option id="4" name="4"value="4">4 High</option>
                </select>
                <div>&nbsp;</div>
                <label style= "padding-left: 10px;" for="autoConeLowScore">Auto Cone Low Placement</label>
                <select select name="autoConeLowScore" id="autoConeLowScore">
                    <option id="None" name="None"value="None">None</option>
                    <option id="Floor" name="Floor"value="Floor">Floor</option>
                    <option id="1" name="1"value="1">1 Low</option>
                    <option id="2" name="2"value="2">2 Low</option>
                    <option id="3" name="3"value="3">3 Low</option>
                    <option id="4" name="4"value="4">4 Low</option>
                </select>
                <div>&nbsp;</div>

                <!--Auto Cube Placement-->
                <label style="padding-left: 10px;" for="autoCubeScore">Auto Cube Placement</label>
                <select select name="autoCubeScore" id="autoCubeScore">
                    <option id="None" name="None"value="None">None</option>
                    <option id="Floor" name="Floor"value="Floor">Floor</option>
                    <option id="Mid" name="Mid"value="Mid">Mid</option>
                    <option id="High" name="High"value="High">High</option>
                </select>
                <div>&nbsp;</div>
            </div>
            </fieldset>

            <br>

            <fieldset id="teleopFieldSet" style="border: 2px solid blue; width: auto;">
                <legend style="width:auto">Teleop</legend>
                <div class="teleop-scoring-header">
                 <!--Tele Balance-->
                 <div style="padding-left: 10px; display:inline">Tele Balance</div> 
                 <div class="btn-group" role="group" aria-label="teleBalance"  style="padding-left: 28px;">
                     <button type="button" class="btn btn-primary" id="teleBalanceNo">No</button>
                     <button type="button" class="btn btn-primary" id="teleBalanceYes">Yes</button>
                     <button type="button" class="btn btn-primary" id="teleBalanceFell">Fell</button>
                 </div>
                 <div>&nbsp;</div>
                 
                 <!--Tele Cone Placement-->
                <label style="padding-left: 10px;" for="teleConeHighScore">Auto Cone High Placement</label>
                <select select name="teleConeHighScore" id="teleConeHighScore">
                    <option id="None" name="None"value="None">None</option>
                    <option id="1" name="1"value="1">1 High</option>
                    <option id="2" name="2"value="2">2 High</option>
                    <option id="3" name="3"value="3">3 High</option>
                    <option id="4" name="4"value="4">4 High</option>
                </select>
                <div>&nbsp;</div>
                <label style= "padding-left: 10px;" for="teleConeLowScore">Tele Cone Low Placement</label>
                <select select name="teleConeLowScore" id="teleConeLowScore">
                    <option id="None" name="None"value="None">None</option>
                    <option id="Floor" name="Floor"value="Floor">Floor</option>
                    <option id="1" name="1"value="1">1 Low</option>
                    <option id="2" name="2"value="2">2 Low</option>
                    <option id="3" name="3"value="3">3 Low</option>
                    <option id="4" name="4"value="4">4 Low</option>
                </select>
                <div>&nbsp;</div>

                <!--Tele Cube Placement-->
                <label style="padding-left: 10px;" for="teleCubeScore">Auto Cube Placement</label>
                <select select name="teleCubeScore" id="teleCubeScore">
                    <option id="None" name="None"value="None">None</option>
                    <option id="Floor" name="Floor"value="Floor">Floor</option>
                    <option id="Mid" name="Mid"value="Mid">Mid</option>
                    <option id="High" name="High"value="High">High</option>
                </select>
                <div>&nbsp;</div>
            </fieldset>

            <br>
            <!--Save Button-->
            <button value="submit" type="submit" class="btn btn-success" id="saveTeamBtn">Save Team</button>
        </div>
</form>         
   
<%- include('templates/footer'); -%>