<%-include ('templates/header');-%>

<script src="pit_scout.js"></script>



<h1 style="text-align:center">Convergence Pit Scouting</h1>

<style>
   h1 {
    text-align: center;
}

.well {
    text-align: center;
}

.scoring-section {
    text-align: justify;
    padding-left: 50px;
    font-size: medium;
}

</style>
<form action="/pit_scouting" method="POST">
    <div class="well col-lg-6 col-lg-offset-3">
        <div class="teamAndRobotInfo">
            <label style="display: inline; text-align: center;" for="teamNumberInput" >Team Number</label>
            <input type="text" id="teamNumberInput" name="teamNumberInput" class="form-control-sm" placeholder="7429">
            <div>&nbsp;</div>
            <label style="display: inline;" for="teamWeightInput">Robot Weight (lbs) </label>
            <input type="text" id="teamWeightInput" name="teamWeightInput" class="form-control-sm" placeholder="150">
            <div>&nbsp;</div>
            <label style="display: inline;" for="teamHeightInput">Robot Height (inches) </label>
            <input type="text" id="teamHeightInput" name="teamHeightInput" class="form-control-sm" placeholder="120">
            <div>&nbsp;</div>
            <label style="display: inline;" for="teamLengthInput">Robot Length (inches) </label>
            <input type="text" id="teamLengthInput" name="teamLengthInput" class="form-control-sm" placeholder="24">
            <div>&nbsp;</div>
            <label style="display: inline;" for="teamWidthInput">Robot Width (inches) </label>
            <input type="text" id="teamWidthInput" name="teamWidthInput" class="form-control-sm" placeholder="24">
            <div>&nbsp;</div>
        </div>

        <div class="robotInfo">
            <!--Drivetrain-->
            <label for="robotDrivetrain">Robot Drivetrain</label>
                <select name="robotDrivetrain" id="robotDrivetrain">
                    <option id="unknown" name="unknown"value="unknown">Unknown</option>
                    <option id="Swerve" name="Swerve" value="Swerve">Swerve</option>
                    <option id="Mecanum" name="Mecanum" value="Mecanum">Mecanum</option>
                    <option id="Skid Steer" name="Skid Steer" value="Skid Steer">Skid Steer</option>
                </select>
                <div>&nbsp;</div>
            <!--Drivetrain Motors-->
            <label for="robotDrivetrainMotors">Robot Drivetrain Motors</label>
                <select name="robotDrivetrainMotors" id="robotDrivetrainMotors">
                    <option id="unknown" name="unknown"value="unknown">Unknown</option>
                    <option id="Neo" name="Neo" value="Neo">Neo</option>
                    <option id="Falcon 500" name="Falcon 500" value="Falcon 500">Falcon 500</option>
                    <option id="CIM" name="CIM" value="CIM">CIM</option>
                </select>
                <div>&nbsp;</div>
            <!--Free Speed-->
            <label for="robotFreespeedinput">Free Speed (ft/s)</label>
            <input type="text" id="robotFreespeedinput" name="robotFreespeedinput" class="form-control-sm" placeholder="10">
            <div>&nbsp;</div>
            <!--Game Element Pickup-->
            <label for="gameElementPickup">Game Element Pickup</label>
                <select name="gameElementPickup" id="gameElementPickup">
                    <option id="unknown" name="unknown"value="unknown">Unknown</option>
                    <option id="Cone Floor" name="Cone Floor" value="Cone Floor">Cone Floor</option>
                    <option id="Cone Substation" name="Cone Substation" value="Cone Substation">Cone Substation</option>
                    <option id="Cube Floor" name="Cube Floor" value="Cube Floor">Cube Floor</option>
                    <option id="Cube Substation" name="Cube Substation" value="">Cube Substation</option>
                </select>
                <div>&nbsp;</div>
            <!--Game Element Scoring-->
            <label for="gameElementScoring">Game Element Scoring</label>
            <select name="gameElementScoring" id="gameElementScoring">
                <option id="unknown" name="unknown"value="unknown">Unknown</option>
                <option id="Floor" name="Floor"value="Floor">Floor</option>
                <option id="Mid Cone" name="Mid Cone"value="Mid Cone">Mid Cone</option>
                <option id="Mid Cube" name="Mid Cube"value="Mid Cube">Mid Cube</option>
                <option id="High Cone" name="High Cone"value="High Cone">High Cone</option>
                <option id="High Cube" name="High Cube"value="High Cube">High Cube</option>
                <option id="Pushbot Only" name="Pushbot Only"value="Pushbot Only">Pushbot Only</option>
            </select>
            <div>&nbsp;</div>
            <!--Hang Off-->
            <label for="hangOffChargeStation">Hang Off Charge Station</label>
            <select name="hangOffChargeStation" id="hangOffChargeStation">
                <option id="unknown" name="unknown"value="unknown">Unknown</option>
                <option id="Yes" name="Yes"value="Yes">Yes</option>
                <option id="No" name="No"value="No">No</option>
            </select>
            <div>&nbsp;</div>
            <!--Auto Start Position-->
            <label for="autoStartPosition">Auto Start Position</label>
            <select name="autoStartPosition" id="autoStartPosition">
                <option id="unknown" name="unknown"value="unknown">Unknown</option>
                <option id="Left" name="Left"value="Left">Left</option>
                <option id="Center" name="Center"value="Center">Center</option>
                <option id="Right" name="Right"value="Right">Right</option>
            </select>
            <div>&nbsp;</div>
            <!--Auto Balence-->
            <label for="autoBalance">Auto Balance</label>
            <select name="autoBalance" id="autoBalance">
                <option id="unknown" name="unknown"value="unknown">Unknown</option>
                <option id="No" name="No"value="No">No</option>
                <option id="Yes" name="Yes"value="Yes">Yes</option>
            </select>
            <div>&nbsp;</div>

            <!--Save Team Button-->
            <button value="submit" type="submit" class="btn btn-success" id="saveTeamBtn">Save Team</button>
        </div>
      </div>
</form>


<%- include('templates/footer'); -%>